# Maven / Java build files
target/
*.class
*.jar

# Logs / temp / DB
*.log
*.db
*.tmp

# IDE files
.idea/
.vscode/
*.iml

# Kubernetes / local cluster tools
.kube/
.minikube/
.sonarqube/
.snap/

# Cache
.cache/

# Security
.git-credentials

# Archives (optional but useful)
*.zip
*.tar
*.tar.gz
kubernetes/jenkins/
